#toolbar-item-administration-tray {
  overflow: visible;
}

.toolbar-tray-vertical .menu-item--expanded {
  background-color: #f5f5f2;
}

.toolbar-tray-vertical .menu-item--expanded:hover {
  background-color: #fff;
}

li.menu-item {
  background-color: #fff;
}
.toolbar-tray-vertical .toolbar li.level-3 ul.toolbar-menu,
.toolbar-tray-vertical .toolbar li.level-4 ul.toolbar-menu,
.toolbar-tray-vertical .toolbar li.level-5 ul.toolbar-menu,
.toolbar-tray-vertical .toolbar li.level-6 ul.toolbar-menu {
  margin-left: auto !important;
}
